

.container{
    max-width: 90%;
    margin: auto;
    font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;
    color: black;
    font-size: 13px;
}

.add_dialog {
    margin: auto;
    font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;
    color: black;
    font-size: 13px;
}

.table_button{

    margin: 10px 0 10px 5px;
    outline: none;
    float: left;
}

#main_form{
    margin-top: 15px;
}
.table_button2{
    display: block;
    margin: 10px 0 10px 5px;

}

.ui-tree .ui-treenode-label.ui-state-highlight{
    outline: none !important;
    font-weight: bold !important;
}

.ui-tree .ui-treenode-label.ui-state-hover {
    color: #535353;
    font-weight: bold;
}

.search_form{
    width: 268px;
    margin-top: 30px;
    padding: 5px;
    border: 1px solid #eeeeee;
    border-radius: 10px;
}

 td{
    min-height: 50px;
    white-space: nowrap;
    overflow: auto;
    text-overflow: ellipsis;
    word-wrap:break-word;
}

 .order_info{
     width: 100%;
     margin: auto;
     font-weight: bolder;
     padding-top: 30px;
     padding-bottom: 20px;
 }

 .order_info tr td{
     width: 50%; vertical-align: top;
 }

 #orders_form.ui-dialog {
     width: auto !important;
     height: auto !important;
 }

