
#goods_content .ui-datagrid-content .ui-widget-content .ui-grid .ui-grid-responsive{
    background-color: #ffffff;
    text-align:center;
}

.goods-panel{
    background-color: #ffffff;
    text-align:center;
}

.cart-button {
    background-color: rgb(212,75,56);
    text-decoration: none;
    padding: 8px 12px 8px 12px;
    border: 1px solid #dddddd;
    margin-left: 6px;
}

.cart-button:hover {
    background: rgb(232,95,76);
}

.cart-button:active {
    background: rgb(152,15,0);
}


#goods_content .ui-widget-content{
    background-color: #ffffff;
}

.content-background{
    padding: 5px 15px;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    text-align: center;
    position: relative;
}

#minMax input  {
    width: 25px;
}

.agree-button {
    outline: none;
    background-color: #5cb85c ;
    text-decoration: none;
    padding: 8px 12px 8px 12px;
    border: 1px solid #dddddd;
}


.agree-button:hover {
    background: #4cae4c;
}

.agree-button:active {
    background: #4a974a;
}

.cart-index-button{
    outline: none;
    background-color: #0595ed;
    text-decoration: none;
    padding: 8px 12px 8px 12px;
    border: 1px solid #dddddd;
}

.cart-index-button:hover {
    background: #0574c4;
}

.cart-index-button:active {
    background: #0562b3;
}

.delete-link{
    text-decoration: none;
}

.delete-link:hover{
    text-decoration: underline;
}

.footer_buttons{
    font-weight: bold;
}

.footer_buttons li{
    margin-right: 15px;
    text-decoration: none;
    display: inline;
}

.footer_buttons li a{
    text-decoration: none;
    color: #535353;
}


.footer_buttons li a:hover{
    text-decoration: underline;
}


.footer{
    margin: 10px 0 5px 0;
    border-radius: 0 0 10px 10px;
    padding: 10px 0 10px 0;
    text-align: center;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    display: block;
}



.col{
    padding: 10px;
    text-align: left;
}


.result-panel td{
    text-align: left;
}

.result-panel td:first-of-type{
    font-weight: bold;
}

.button-table{
    margin-bottom: 10px;
    margin-top: 20px;
    width: 100%;
}

.button-table tr td{
    width: 50%;
}

.div-buttons{
    text-align: right;
    margin-bottom: 10px;
    margin-top: 20px;
}