

.login-form{
    background-color: white;
    border: 1px solid #dddddd;
    /*border-radius: 6px;*/
    padding: 5px 0 5px 5px ;

}

.user-form{
    background-color: white;
    border: 1px solid #dddddd;
    padding: 10px 0 10px 15px ;
    color: brown;
}

.catalog_header{
    color: brown;
    text-align: center;
    margin-bottom: 2px;
}

.tree-catalog{
    background-color: #ffffff;
    color: #535353;
    border-radius: 0;
    border: none;
    font-weight: bold;

}

.tree-catalog.ui-tree .ui-treenode-label.ui-state-hover {
    color: #535353;
    text-decoration: underline;
    font-size: 15px;
    font-weight: bold;
    border: 0 none;
    background-color: white !important;

}

.ui-tree .ui-treenode-label.ui-state-highlight{
    color: brown;
    background-color: #fff !important;
    font-weight: bold !important;
    text-decoration: underline;
    padding: 3px 0 3px 0 !important;
    outline: none !important;
}



.enter-button{
    background-color: #ffffff;
    text-decoration: none;
    color: #535353;
    font-weight: bold;
    padding: 6px 12px 6px 12px;
    border: 1px solid #dddddd;
    margin: 5px 0 5px 0;
    float: right;
}

.enter-button a:hover{
    background: #DADFE7;
}

.enter-button a:active{
    background: #b4b9c1;
}

.catalog-form ul{
    background-color: #ffffff;
}



